/*
---
Badge Customization
---
1. reset badge
2. badge-rounded
3. badge-dot (variant: sm, md, lg)
4. badge-solid
*/

// Reset
.badge {
  vertical-align: middle;
}

// badge-dot
.badge.badge-dot {
  display: inline-block;
  line-height: 0.6rem;
  min-height: 0.6rem;
  min-width: 0.6rem;
  height: 0.6rem;
  width: 0.6rem;
  padding: 0;
  margin: 0 0.5rem;
  font-size: 0;
  vertical-align: middle;
  text-align: center;

  &.badge-dot-sm {
    line-height: 0.4rem;
    min-height: 0.4rem;
    min-width: 0.4rem;
    height: 0.4rem;
    width: 0.4rem;
  }

  &.badge-dot-md {
    line-height: 0.6rem;
    min-height: 0.6rem;
    min-width: 0.6rem;
    height: 0.6rem;
    width: 0.6em;
  }

  &.badge-dot-lg {
    line-height: 0.8rem;
    min-height: 0.8rem;
    min-width: 0.8rem;
    height: 0.8rem;
    width: 0.8rem;
  }
}

// badge-solid
@each $color, $value in $theme-colors {
  .badge.badge-solid-#{$color},
  .badge.badge-solid-#{$color}-pulse {
    background: $value;
    color: my-color-yiq($value, darken($value, $my-text-yiq-darken-rate), #fff);
  }

  .badge.badge-solid-#{$color}-pulse {
    @include my-animation("my-pulse-#{$color} 1s linear forwards");
  }
}