// Imitate the sizing strategy of font-awesome

.la.la-xs	{ font-size: .75em;	}
.la.la-sm	{ font-size: .875em; }
.la.la-lg	{ font-size: 1.33em; }
.la.la-2x	{ font-size: 2em; }
.la.la-3x	{ font-size: 3em; }
.la.la-4x	{ font-size: 4em; }
.la.la-5x	{ font-size: 5em; }
.la.la-6x	{ font-size: 6em; }
.la.la-7x	{ font-size: 7em; }
.la.la-8x	{ font-size: 8em; }
.la.la-9x	{ font-size: 9em; }
.la.la-10x{ font-size: 10em; }