/* ---------
    SIDEBAR
------------ */
.my-page-wrapper {
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
}

.my-page-wrapper {
  display: flex;
  align-items: stretch;
}

.my-page-content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  // transition: all 0.3s;
  padding-left: $my-sidebar-width;
  &.is-sidebar-panel-active { padding-left: ($my-sidebar-width + $my-sidebar-panel-width);}
}

.my-sidebar {
  position: fixed;
  z-index: 1000;
  min-width: $my-sidebar-width;
  max-width: $my-sidebar-width;
  height: 100vh;
  min-height: 100%;
  max-height: 100vh;
  background: $primary;
  color: #fff;
  transition: all 0.3s;
  text-align: center;

  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
}

.my-sidebar .my-sidebar__header {
  padding: 0.25rem 1rem 0;
  background: transparent;
}

.my-sidebar .my-sidebar__header img {
  display: block;
  padding: 1rem 0;
  border-bottom: 2px solid $primary-mark;
}

.my-sidebar .my-sidebar__menu .my-sidebar__menu-link {
  display: block;
  color: $warning;
  padding: 0.6rem 0;
}
// TODO
.my-sidebar .my-sidebar__menu .my-sidebar__menu-item.active svg {
  circle { fill: $primary-mark; }
  path { fill: $warning; }
}
.my-sidebar .my-sidebar__actions {
  margin-bottom: 0;
}
.my-sidebar .my-sidebar__actions a {
  display: block;
  color: #ffffff;
  padding: 0.4rem 0;
  font-size: 0.8em;
}

.my-sidebar .my-sidebar__menu img, .my-sidebar .my-sidebar__menu svg {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-bottom: -0.3rem;
}

.my-sidebar .my-sidebar__menu {
  padding: 0.4rem 0 0;
  margin-bottom: 0;
}

.my-sidebar .my-sidebar__menu a:hover, .my-sidebar__actions a:hover {
  color: #ffffff;
  background: darken($primary, 5%);
}

.my-sidebar .my-sidebar__actions a {
  padding: 0.35rem 0;
  color: #ffffff;
}
.my-sidebar .my-sidebar__actions img {
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
}



.my-sidebar__panel-wrapper {
  position: fixed;
  z-index: 1000;
  height: 100%;
  margin-left: $my-sidebar-width;
  .my-sidebar__panel {
    height: 100%;
    min-width: 15rem;
    padding: 2rem 0 6rem;
  }

  .my-sidebar__panel-head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .my-sidebar__panel-body {
    padding: 3rem 2rem;
  }

  .my-sidebar__panel-item {
    min-width: $my-sidebar-panel-width;
    max-width: $my-sidebar-panel-width * 1.5;
    background: $primary-mark;
    height: 100%;
    color: white;

    &:not(.active) { display: none; }
    &.active { display: block; }
  }
}

@media screen and (max-height: 900px) {
  .my-sidebar .my-sidebar__menu img, .my-sidebar .my-sidebar__menu svg {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: -0.4rem;
  }

  .my-sidebar .my-sidebar__menu {
    max-height: calc(100vh - 230px);
    overflow-y: auto;
  }

  .my-sidebar .my-sidebar__menu .my-sidebar__menu-link {
    padding: 0.5rem 0;
  }
}


@media screen and (min-width: 1600px) {
  .my-sidebar .my-sidebar__menu .my-sidebar__menu-link {
    padding: 0.8rem 0;
  }
}
