.my-error-404 { overflow: hidden; }
.my-error-404--bg {
  background-position: bottom right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50% auto;
  background-color: $primary;
}

.my-error-404 .my-error__number--font {
  font-size: 15.7rem;
  font-weight: 700;
  color: $warning;
  line-height: 0.8;
}

.my-error-404 .my-error__title--font {
  font-size: 10rem;
  font-weight: 700;
  color: $warning;
}

.my-error-404 .my-error__title--space {
  margin-top: -4rem;
}

.my-error-404 .my-error__description--space {
  margin-top: -4rem;
}

.my-error-404 .my-error__description--font {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

.my-error-404 .my-error__img-wrapper {
  /* background-color: ivory; */
  position: relative;
  display: block;
  padding: 0;
  /* overflow: hidden; */
  width: 60%;
  margin: auto 0;
}

.my-error-404 .my-error__img-wrapper::before {
  display: block;
  content: '';
  padding-top: 140%;
}
.my-error-404 .my-error__img-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 769px) {
  .my-error-404 .my-error__number--font {
    font-size: 12rem;
    line-height: 1;
  }

  .my-error-404 .my-error__title--font {
    font-size: 7rem;
  }
}

.my-error-500 {
  background-color: $warning-mark;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;

  & .my-error__subtitle {
    font-size: 8rem;
    margin-top: 5rem;
    font-weight: 600;
  }

  & .my-error__description {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 3rem;
  }

  .my-error__img-wrapper {
    z-index: 0;
    position: relative;
    display: block;
    padding: 0;
    width: 100%;
    margin: -8% 0 auto;
  }

  .my-error__img-wrapper::before {
    display: block;
    content: '';
    padding-top: 35%;
  }
  .my-error__img-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .my-error__img-wire-left {
    width: 36%;
    position: absolute;
    top: 0;
    left: 0;
  }


  .my-error__img-wire-right {
    width: 40%;
    position: absolute;
    top: 4%;
    right: 0;
  }

  .my-error__img-cat {
    width: 12%;
    position: absolute;
    top: 23%;
    left: 43%;
  }
}


@media (max-width: 768px) {
  .my-error-500  .my-error__subtitle {
    font-size: 5rem;
  }

  .my-error-500 .my-error__description {
    font-size: 1.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
