.si-order__btn[data-select="false"] {
  @include button-variant($si-label-5);
  color: $si-label-2;
  .si-order__badge { background: $si-label-2; }
}

.si-order__btn[data-select="true"] {
  @include button-variant($si-label-3);
  .si-order__badge {
    &.si-order__badge--info { background-color: $info; }
    &.si-order__badge--purple { background-color: $purple; }
    &.si-order__badge--warning { background-color: $warning; }
    &.si-order__badge--success { background-color: $success; }
    &.si-order__badge--danger { background-color: $danger; }
  }
}

.si-order__btn {
  &:hover, &:focus, &:active {
    color: $si-label-0;

    .si-order__badge {
      &.si-order__badge--info { background-color: $info-mark; }
      &.si-order__badge--purple { background-color: $purple-mark; }
      &.si-order__badge--warning { background-color: $warning-mark; }
      &.si-order__badge--success { background-color: $success-mark; }
      &.si-order__badge--danger { background-color: $danger-mark; }
    }
  }
}
