
.my-signin {
  &.my-signin--bg {
    // background-color: #ffffff;
    // background-image: linear-gradient(to right, #00cbffcc, #00b6ffcc 39%, #0094d1cc 100%);
  }

  .signin-container {
    display: flex;
    min-height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .signin-body {
    padding-top: 4rem;
    padding-bottom: 8rem;
  }

  .signin-logo {
    padding: 0 6rem;
    margin: 0 auto 5rem;
    text-align: center;
    img { width: 11rem; }
  }

  .signin-form-group { margin-bottom: 2rem; }
  .signin-form-group-last { margin-bottom: 3rem; }

  .signin-input { border-radius: 50rem; }

  .alert.signin-alert-success {
    color: #fff;
    background-color: #30dc63;
  }

  .signin-actions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
  }

  .signin-account {
    text-align: center;
    a.signin-account-link {
      color: lighten(#ffcf1b, 5%);
    }
    a.signin-account-link:hover {
      color: lighten(#ffcf1b, 15%);
    }
  }

  @media screen and (min-width: 1400px) {

  .signin-logo {
    padding: 0 8rem;
    margin: 1 auto 5rem;
    img { width: 13rem; }
  }

    .signin-form-group-last { margin-bottom: 4rem; }
    .signin-actions { margin-bottom: 5rem; }
  }
}
