hr {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.btn [class*="la-"],
.btn [class^="la-"] {
  font-size: 1.4rem;
}

.btn i {
  padding-right: 0.25rem;
  vertical-align: middle;
}

// custom badge-dot
.badge {
  vertical-align: middle;
}
.badge.badge-rounded {
  border: 0;
  border-radius: 1.7em;
  transition: all 0.3s;
  padding: 0.1em 0.3em;
  margin: 0.1em 0.15em;
  min-width: 1.5em;
  height: 1.7em;
  line-height: 1.5em;
  font-size: 0.9em;
  text-align: center;
}

.badge.badge-dot {
  display: inline-block;
  line-height: 0.6rem;
  min-height: 0.6rem;
  min-width: 0.6rem;
  height: 0.6rem;
  width: 0.6rem;
  padding: 0;
  margin: 0;
  font-size: 0;
  vertical-align: middle;
  text-align: center;

  &.badge-dot-sm {
    line-height: 0.4rem;
    min-height: 0.4rem;
    min-width: 0.4rem;
    height: 0.4rem;
    width: 0.4rem;
  }

  &.badge-dot-md {
    line-height: 0.6rem;
    min-height: 0.6rem;
    min-width: 0.6rem;
    height: 0.6rem;
    width: 0.6em;
  }

  &.badge-dot-lg {
    line-height: 0.8rem;
    min-height: 0.8rem;
    min-width: 0.8rem;
    height: 0.8rem;
    width: 0.8rem;
  }
}

// disable box-shadow
.card {
  box-shadow: none;
}
.popover {
  box-shadow: none;
}

// nav-pills
.nav-pills:hover {
  background: transparent;
}

// custom form validation style
.invalid-feedback {
  padding: 0 1rem;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-position: calc(100% - 1rem) calc(0.375em + 0.25rem);
}

.alert {
  display: flex;
  align-items: stretch;
  padding: 1rem 2rem;
  border-radius: 3px;
  margin: 0 0 20px 0;
}
.alert .alert-icon {
  display: flex;
  align-items: center;
  padding: 0 1.25rem 0 0;
}
.alert .alert-icon i {
  font-size: 2.4rem;
}
.alert .alert-icon.alert-icon-top {
  align-items: flex-start;
  align-content: stretch;
}
.alert .alert-text {
  align-self: center;
  flex-grow: 1;
}
.alert .alert-close {
  padding: 0 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.alert .alert-close .close {
  text-shadow: none !important;
}
.alert .alert-close i {
  color: #fff;
  opacity: 0.9;
  transition: all 0.3s ease;
}
.alert .alert-close i:hover {
  transition: all 0.3s ease;
  opacity: 1;
}

// Other Alert Style
@each $color, $value in $theme-colors {
  .alert-solid-#{$color} {
    background: $value;
    color: my-color-yiq($value, darken($value, $my-text-yiq-darken-rate), #fff);
    border: transparent;
  }

  .alert-outlined-#{$color} {
    border: 1px solid $value;
    color: $value;
  }
}

@each $color, $value in $theme-colors {
  .btn.btn-solid-#{$color} {
    background: $value;
    color: my-color-yiq($value, darken($value, $my-text-yiq-darken-rate), #fff);
  }
}

@each $color, $value in $theme-colors {
  .badge.badge-solid-#{$color},
  .badge.badge-solid-#{$color}-pulse {
    background: $value;
    color: my-color-yiq($value, darken($value, $my-text-yiq-darken-rate), #fff);
  }

  .badge.badge-solid-#{$color}-pulse {
    @include my-animation("my-pulse-#{$color} 1s linear forwards");
  }
}
