hr {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

// disable box-shadow
.card {
  box-shadow: none;
}
.popover {
  box-shadow: none;
}

// nav-pills
.nav-pills:hover {
  background: transparent;
}

// custom form validation style
.invalid-feedback {
  padding: 0 1rem;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-position: calc(100% - 1rem) calc(0.375em + 0.25rem);
}

