// Bootstrap config
// For custimizing bootstrap components (cards, tables, buttons, ...), please checkout scss/components folder.
// ---------------
// si custom color
// ---------------
$my-label-0: #d8d8d8;
$my-label-1: #9b9b9b;
$my-label-2: #7e8293;
$my-label-3: #5f6772;
$my-label-4: #434850;
$my-label-5: #3a3e44;
$my-label-6: #2f3238;

// ---------------------
// bootstrap state color
// ---------------------
$dark:         #25282e;
$darker:         #202328;

$primary:      #5d78ff;
$primary-mark: darken($primary,0.2);
$primary-solid: $primary-mark;

$secondary:    #7e8293;
$secondary-mark: #25282e;
$secondary-solid: $secondary-mark;

$warning:      #ffb61b;
$warning-mark: darken($warning, 0.2);
$warning-solid: $warning-mark;

$success:      #2cd9c5;
$success-mark: darken($success, 0.2);
$success-solid: $success-mark;

$info:         #40c4ff;
$info-mark:    #0088bf;
$info-solid:    $info-mark;

$purple:       #9a6bfa;
$purple-mark:  #6239ff;
$purple-solid: #391aaf;

$danger:       #ff5c99;
$danger-mark:  #eb4c53;
$danger-solid: #a71018;

$theme-colors: (
  "darker":           $darker,
  "primary":          $primary,
  "primary-mark":     $primary-mark,
  "secondary":        $secondary,
  "success":          $success,
  "success-mark":     $success-mark,
  "info":             $info,
  "info-mark":        $info-mark,
  "warning":          $warning,
  "warning-mark":     $warning-mark,
  "danger":           $danger,
  "danger-mark":      $danger-mark,
  "purple":           $purple,
  "purple-mark":      $purple-mark,
);

// 根據背景亮度決定文字為深色或淺色 (acceptable values are between 0 and 255)
$yiq-contrasted-threshold:  190;
// --------------------------
// Other Bootstrap Variables
// --------------------------
// $sizes affects the `.h-*` and `.w-*` classes.

// example:
//   $sizes: (
//     10: 10%,
//     '10rem': 10rem
//   )
$sizes: () !default;

// Body
$body-bg:                   #25282e;
$body-color:                #ffffff;

$font-family-base:          "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, "Helvetica Neue","Microsoft YaHei", "Microsoft YaHei Bold", "WenQuanYi Zen Hei", Arial, sans-serif;

// font weight
$font-weight-lighter:        lighter;
$font-weight-light:          400;
$font-weight-normal:         500;
$font-weight-bold:           600;
$font-weight-bolder:         700;
$headings-font-weight:       600;

$headings-color:            #ffffff;

// btn
$btn-font-size:               0.9rem;
// $btn-padding-x: 1.75rem;

// badge
$badge-font-size:             85%;
$badge-padding-y:             .3em;
$badge-padding-x:             .4em;

// $form-feedback-valid-color:         theme-color("success") !default;
$form-feedback-font-size:      1rem;
$form-feedback-invalid-color:  $danger-solid;

// Jumbotron
$jumbotron-bg:                 $my-label-5;

// Tables
$table-border-color:               $my-label-4;
$table-border-level:          3;
// Cards

$card-cap-bg:                  $my-label-4;
$card-bg:                      $my-label-5;

$card-box-shadow:             0 .46875rem 2.1875rem rgba($my-label-6, .1),
                              0 .9375rem 1.40625rem rgba($my-label-6, .1),
                              0 .25rem .53125rem rgba($my-label-6, .12),
                              0 .125rem .1875rem rgba($my-label-6, .1) !important;

// Tooltips
// Popovers
$popover-bg:                 $my-label-5;

// Toasts
$toast-background-color:            $my-label-4;
$toast-header-background-color:     $my-label-5;

$breadcrumb-bg:                     transparent;
// List group
$list-group-bg:            $my-label-5;
// caret
$caret-width:                .4em;


// ---------------------
// SI Custom Variables
// ---------------------
$my-yiq-contrasted-threshold: 130;
$my-text-yiq-darken-rate:     45%;

$my-sidebar-width:            90px;
$my-sidebar-panel-width:      260px;

// ---------------------
//  SI Custom Functions
// ---------------------
@function my-color-yiq($color, $dark: $yiq-text-dark, $light: $yiq-text-light) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @return if($yiq >= $my-yiq-contrasted-threshold, $dark, $light);
}
// ---------------------
//  SI Custom Mixins
// ---------------------
@mixin my-browser-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

@mixin my-animation($str) {
  @include my-browser-prefix('animation', $str);
}

@mixin my-keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {@content; }
  @-moz-keyframes #{$animation-name} { @content; }
  @-ms-keyframes #{$animation-name} { @content; }
  @-o-keyframes #{$animation-name} { @content; }
  @keyframes #{$animation-name} { @content; }
}


// --------------
//   Keyframes
// --------------
@include my-keyframes('my-flash') {
  from, 50%, to { opacity: 1; }
  25%, 75% { opacity: 0; }
}


@include my-keyframes('my-progress-active-right') {
  0% { background-position: 0 0; }
  100% { background-position: 3.5rem 0; }
}

@include my-keyframes('my-progress-active-left') {
  0% { background-position: 0 0; }
  100% { background-position: -3.5rem 0; }
}

@each $name, $color in $theme-colors {
  @include my-keyframes('my-pulse-#{$name}') {
    0% { box-shadow: 0 0 0.75rem rgba($color, 1), 0 0 1.25rem rgba($color, 1); }
    50% { box-shadow: 0 0 0 0.5rem rgba($color, 0.5), 0 0 0 1rem rgba($color, 0.5); }
    100% { box-shadow: 0 0 0 0.75rem transparent, 0 0 0 1.25rem transparent; }
  }
}
